{% extends "core/base.html" %} {% block title %}Add Task{% endblock title %} 
{%block content %}
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %} 
<div class="flex justify-center">
    <div class="w-full md:w-3/4 lg:w-1/2 xl:w-1/3">
        <div class="px-3 rounded-xl">
            <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
                <i class="fas fa-tasks"></i>
                Add a new task:
            </div>
            <div class="w-full border rounded-lg">
                <form method="POST" class="shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data" novalidate>
                    {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}

                    <!--Title-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.title.id_for_label }}">
                            {{ form.title.label }}
                        </label> {{ form.title }} {% if form.title.errors %} {% for error in form.title.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>
                    <!--Priority-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.priority.id_for_label }}">
                            {{ form.priority.label }}
                        </label> {{ form.priority }} {% if form.priority.errors %} {% for error in form.priority.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>

                    <!--Due Date-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.due_date.id_for_label }}">
                            {{ form.due_date.label }}
                        </label> {{ form.due_date }} {% if form.due_date.errors %} {% for error in form.due_date.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>

                    <!--Task Photo-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.task_photo.id_for_label }}">
                            {{ form.task_photo.label }}
                        </label> {{ form.task_photo }} {% if form.task_photo.errors %} {% for error in form.task_photo.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>

                    <!--Description-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.description.id_for_label }}">
                            {{ form.description.label }}
                        </label> {{ form.description }} {% if form.description.errors %} {% for error in form.description.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>

                    {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
                    <div class="flex flex-col items-start justify-between">
                        <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Create
                        </button>
                        <br>
                        <p class="text-white">Go back to All Task <a href="{% url "homepage" %}" class="text-blue-500">Click Here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}