{% extends "core/base.html" %} {% block title %}Home{% endblock title %} 
{%block content %}
<!-- Content Section start -->
        <div class="md:container md:mx-auto mt-5">
        <div class="p-4 mb-4 text-black dark:text-white rounded-lg text-4xl font-extrabold bg-slate-700">
                <i class="fas fa-tasks"></i>
                All Tasks:
            </div>
            <!--Filter Section Start-->
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-white bg-gray-800">
                <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
                    <form action="" method="get" class="border  focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 border-blue-500 text-blue-500  bg-gray-900 ">
                        Filter By: 
                        <label for="priority">Priority:</label>
                        <select id="priority" name="priority" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">
                        <option type="submit" value="">All Priorities</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        </select>
                        <!-- Date Filter Input -->
                        <label for="due_date">Due Date:</label>
                        <input class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800" type="date" id="due_date" name="due_date">

                        <label for="created_at">Created At:</label>
                        <input class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800" type="date" name="created_at" id="created_at">
                        <button type="submit">Apply Filter</button>
                    </form>
                </div>
            </caption>
            <!--Filter Section End-->
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            {% for task in data %}
            <div>
                <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900">{{task.title}}</h5>
                    <span class="text-sm text-gray-500 dark:text-gray-400">Post Date:{{task.created_at}}</span>
                    <hr>
                    <p class="mb-3 text-sm text-gray-500 dark:text-gray-400">Due Date: {{task.due_date}}</p>
                    <p class="font-normal text-gray-700">Priority: {{task.priority}}</p>
                    <p class="mb-3 font-normal text-gray-700">{{task.description | truncatewords:20}}</p>
                    <!--Buttons-->
                    <a href="{% url "detail_task" task.slug %}" class="inline-flex items-center px-3 my-2 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Read More
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    {% if request.user.is_authenticated %}
                    <a href="" class="inline-flex items-center px-3 py-2 my-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Mark as managed
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <a href="{% url "edit_task" task.slug %}" class="inline-flex items-center px-3 py-2 my-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Edit
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    <a href="" class="inline-flex items-center my-2 px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">
                        Delete
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Content Section End -->
{% endblock content %}
