{% extends "core/base.html" %} 
{% load crispy_forms_tags %}
{% block title %}{{type}}{% endblock title %} 
{%block content %} 
<div class="w-50 m-auto my-5 border rounded shadow">
    <h1 class="p-5 text-warning">{{type}}</h1>
    <form method="post" class="px-5">
        {% csrf_token %}
        <!--{{form|crispy}}-->
        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags}}
        {% endfor %}
        {% if type == 'Registration' %}
        <button type="submit" class="btn btn-warning my-5">Submit</button>
        {% elif type == 'LogIn' %}
        <button type="submit" class="btn btn-primary my-5">LogIn</button>
        {% elif type == 'Edit Profile' or type == 'Edit Password' %}
        <button type="submit" class="btn btn-warning my-5">Update</button>
        {% endif %}
    </form>
</div>
{% endblock content %}