{% extends "core/base.html" %} {% block title %}Change Password{% endblock title %} 
{%block content %}
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %} 
<div class="flex justify-center">
    <div class="w-1/2 md:w-3/4 lg:w-1/2 xl:w-1/3">
        <div class="px-3 rounded-xl">
            <div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
                <i class="fas fa-key"></i>
                Change Your Password:
            </div>
            <div class="w-full border rounded-lg">
                <form method="POST" class="shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data" novalidate>
                    {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
                    <!--new_password1-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.new_password1.id_for_label }}">
                            {{ form.new_password1.label }}
                        </label> {{ form.new_password1 }} {% if form.new_password1.errors %} {% for error in form.new_password1.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>
                    <!--new_password2-->
                    <div class="w-full md:w-1/2 px-3 my-6">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.new_password2.id_for_label }}">
                            {{ form.new_password2.label }}
                        </label> {{ form.new_password2 }} {% if form.new_password2.errors %} {% for error in form.new_password2.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %}
                    </div>

                    {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
                    <div class="flex flex-col items-start justify-between">
                        <button class="bg-yellow-500 hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Change
                        </button>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}